<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{css/bootstrap-responsive.min.css}" rel="stylesheet" />
<link th:href="@{css/cysoft.css}" rel="stylesheet" />
</head>
<body>
	<div id="confirm">
		<a th:href="${callbackUrl}">确定授权登录？</a>
	</div>
	
	<script th:src="@{js/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
